<!-- src/Template/Users/registry.ctp -->

<p>has llegado</p>

<?=
h('<p>asd</p>');
?>
<?=
$user->username
?>
                <!--<?= $this->Html->link('Login', ['controller' => 'Users', 'action' => 'login'], ['class' => 'start-link-login']); ?>-->
         


